* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style: none;
  --main-color: #f0a83e;
  --bottom-color: #222222;
  --second-color: #3c2313;
  --buttom-1: #786960;
  --buttom-color: #8a8787;
  --font-2-color: #a0a0a0;
  --cards-color: #fbfaf6;
  --font-1-color: #ffffff;
}

/* Top section styles */

.top {
  background-color: var(--second-color);
  height: 20px;
  width: 100%;
  color: var(--font-1-color);
  font-weight: 400;
  font-size: 10px;
  align-items: center;
}

ul.list-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 90px;
}

ul.list-2 {
  display: flex;
  justify-content: space-around;
}

select.estilo-1 {
  background-color: var(--second-color);
  color: var(--font-1-color);
  border: none;
  font-size: 10px;
  font-weight: 400;
}

li {
  padding: 5px;
}

/* Header styles */

.nav-header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding-left: 40px;
  padding-right: 40px;
}

.checkbtn {
  display: none;
}

#check {
  display: none;
}

/* Nav bar styles*/

.nav-list {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  color: var(--font-1-color);
}

.paw {
  padding: 5px;
}

.logo {
  height: 23px;
  width: 166px;
}

/* Maiin section header styles */

.main-header {
  background-image: url("../imagenes/foto.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 410px;
  position: relative;
}

.main-text {
  position: absolute;
  top: 156px;
  right: 11px;
  width: 365px;
  height: 146px;
  text-align: center;
}

.main-text h3 {
  background-color: var(--font-1-color);
  height: 54px;
  border-radius: 5px;
  font-size: 30px;
  font-weight: 400;
  padding-top: 8px;
}

.main-text p {
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.main-buttom {
  background-color: var(--main-color);
  color: var(--font-1-color);
  width: 141px;
  height: 49px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

/* Main section styles */

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paw-gde {
  color: var(--main-color);
  margin: 20px auto 5px;
}

h2 {
  color: var(--second-color);
  font-size: 40px;
  font-weight: 700;
}

.products {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 400;
  padding: 20px 13px;
}

.products li {
  padding: 10px;
}

/* Cards section styles  */

.cards-section {
  display: flex;
}

.card {
  background-color: var(--cards-color);
  display: flex;
  flex-direction: column;
  width: 265px;
  margin: 20px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 500;
  text-align: center;
}

.price {
  color: var(--main-color);
}

/* Form styles */

.form-title {
  color: var(--second-color);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form {
  background-color: var(--second-color);
  border-radius: 15px;
  color: var(--font-1-color);
  font-size: 12px;
  width: 340px;
  height: 40px;
  padding: 15px;
  margin: 5px;
}

.input-form::placeholder {
  color: var(--font-2-color);
  font-size: 9px;
  font-weight: 400;
}

.buttom {
  display: flex;
  justify-content: center;
}

.btn {
  width: 110px;
  height: 34px;
  margin: 40px 6px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  color: var(--font-1-color);
}

.reset {
  background-color: var(--buttom-color);
}

.submit {
  background-color: var(--main-color);
}

/* Subscription styles */

.subsc {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}

.img {
  display: flex;
  color: var(--font-1-color);
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  padding-left: 23px;
}

.img p {
  padding: 10px;
}

.subs-form {
  display: flex;
  align-items: center;
  margin: 10px 47px;
}

.email-2 {
  background-color: var(--font-1-color);
  width: 271px;
  height: 40px;
  font-size: 12px;
  border-radius: 15px;
  border: none;
}

.email-2::placeholder {
  color: var(--font-2-color);
  font-size: 9px;
  font-weight: 400;
  padding-left: 8px;
}

.submit-2 {
  background-color: var(--second-color);
  color: var(--font-1-color);
  font-size: 9px;
  font-weight: 700;
  width: 70px;
  height: 34px;
  border-radius: 15px;
  border: none;
  margin-left: 5px;
}

/* Footer styles */

footer {
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-left: 70px;
}

.datos {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.foot-data {
  margin-left: 25px;
  color: var(--font-1-color);
}

.foot-img {
  /* centra el icono en el div*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttom-color);
  border: solid 8px var(--buttom-1);
  border-radius: 50%;
  width: 66px;
  height: 66px;
}

.foot-icon {
  width: 45px;
  height: 45px;
}

.foot-data h3 {
  background-color: var(--second-color);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}

.foot-data p {
  font-size: 10px;
  font-weight: 700;
  color: var(--font-2-color);
  margin-top: 0;
}

footer img.logo {
  position: relative;
  right: 70px;
  top: 110px;
}

.footer-btn {
  background-color: var(--bottom-color);
  color: var(--font-1-color);
  font-size: 10px;
  font-weight: 700;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive for Mobiles */

@media (max-width: 480px) {
  /* top styles */

  ul.list-1 {
    margin: 0 15px 0 15px;
  }

  /* header styles */

  .checkbtn {
    display: block;
    color: var(--font-1-color);
    cursor: pointer;
  }

  /* Nav bar styles */

  .nav-list {
    background-color: var(--main-color);
    flex-direction: column;
    align-self: flex-start;
    position: absolute;
    right: 0;
    z-index: 10;
    margin-top: 54px;
    width: 150px;
    height: 150px;
    left: -200px;
  }

  #check:checked ~ .nav-list {
    left: 300px;
  }

  #check:checked ~ .checkbtn {
    color: var(--second-color);
  }

  .main-text {
    justify-content: center;
  }

  /* Main section */

  .main-section h2 {
    width: 271px;
    text-align: center;
  }

  .cards-section {
    flex-direction: column;
    align-items: center;
  }

  .input-form {
    font-size: 9px;
    width: 298px;
  }

  .btn {
    width: 199px;
    height: 45px;
    border-radius: 25px;
  }

  /* Subscription styles */

  .subsc {
    flex-direction: column;
    width: 100%;
    height: 101px;
  }

  .img {
    display: flex;
    justify-content: space-between;
    color: var(--font-1-color);
    font-size: 18px;
    font-weight: 700;
    align-items: center;
  }

  .img p {
    padding-right: 10px;
  }

  .subs-form {
    display: flex;
    align-items: center;
  }

  .email-2 {
    width: 230px;
    height: 40px;
    font-size: 10px;
    position: absolute;
    left: calc(50% - 230px / 2 - 60px);
  }

  .email-2::placeholder {
    font-size: 9px;
  }

  .submit-2 {
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    position: relative;
    left: calc(50% - 100px / 2 + 115px);
  }

  footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    margin-left: 0;
  }

  .foot-data h3 {
    background-color: var(--second-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .foot-data p {
    font-size: 10px;
    font-weight: 700;
    color: var(--font-2-color);
    margin-top: 0;
  }

  footer img.logo {
    position: relative;
    top: 9px;
    right: calc(50% - 70px);
    margin-bottom: 15px;
  }

  .footer-btn {
    background-color: var(--bottom-color);
    color: var(--font-1-color);
    font-size: 10px;
    font-weight: 700;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
