* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.top {
  background-color: #222222;
  height: 20px;
  width: 100%;
  color: #f3f3f3;
  list-style: none;
  font-weight: 400;
  font-size: 10px;
  align-items: center;
}

ul.list-1 {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 90px;
  list-style: none;
}

ul.list-2 {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li {
  padding: 5px;
}

.nav-header {
  background-color: #f0a83e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding-left: 40px;
  padding-right: 40px;
}

.main-header {
  background-image: url("../imagenes/foto.png");
  width: 100%;
  height: 410px;
  
}

.nav-list {
    display: flex;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
}

.paw {
    padding: 5px;
}

.logo {
height: 23px;
width: 166px;

/* left: 40px;
top: 39px;
border-radius: 0px; */

}

.card {
  background-color: #fbfaf6;
}
