* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --top-color: #1cd1b0;
  --primary-color: #00669f;
  --second-color: #f3f3f3;
  --third-color: #fff9f9;
  --font1-clor: #ffffff;
  --font2-color: #333333;
  --icon-color: #cc2424;
}

.top-page {
  background-color: var(--top-color);
  font-size: 15px;
  font-weight: 400;
  height: 38px;
  padding: 10px;
}

header {
  background-color: var(--primary-color);
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  padding: 28px;
  box-shadow: 0 10px 7px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 529px;
  margin: 154px auto;
}

.heroe {
  background-color: var(--second-color);
  display: flex;
  justify-content: space-between;
  width: 300px;
  position: relative;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-head {
  height: 120px;
  width: 120px;
}

.icon {
  color: var(--icon-color);
  font-size: 30px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.card-1 {
  background-image: url(/imagenes/backg-1.png);
  background-repeat: no-repeat;

}

.card-2 {
  background-image: url(/imagenes/backg-2.png);
  background-repeat: no-repeat;
}

.card-head-1 {
  display: flex;
  flex-direction: column;
  background-image: url(/imagenes/batman.png);
  height: 120px;
  width: 120px;
  position: absolute;
  top: 127px;
  left: 90px;
  border-radius: 50%;  
}

.card-head-2 {
  display: flex;
  flex-direction: column;
  background-image: url(/imagenes/harley.png);
  height: 120px;
  width: 120px;
  position: absolute;
  top: 127px;
  left: 90px;
  border-radius: 50%;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  font-weight: 400;
}

.txt p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
}

button {
  position: relative;
}

.btn {
  background-color: var(--primary-color);
  color: var(--font1-clor);
  width: 129px;
  height: 48px;
  position: absolute;
  bottom: 19px;
  left: 85px;
  border: none;
}

footer {
  background-color: var(--primary-color);
  height: 51px;
  font-size: 16px;
  font-weight: 400;
  color: var(--third-color);
}

.footer-txt {
  padding-left: 16px;
  padding-top: 16px;
}